$arc-reactor-light: #6fc7E9;
$black: #282828;
$border: #7d000f;
$gold: #f7ba37;
$red: #dc1f29;
$white: #fefefe;

* {
  box-sizing: border-box;
  position: relative;

  &::after,
  &::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
  }
}

@mixin size($w: 100%, $h: 100%) {
  height: $h;
  width: $w;
}

body {
  @include size(100vw, 100vh);
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.ironman {
  @include size(60vmin, 80vmin);
  align-items: center;
  animation: 8.6s ease-in-out infinite levitate;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ears {
  @include size(46%, 10.5%);
  background-color: $red;
  border-radius: 1vmin;
  clip-path: polygon(5% 0, 0 5%, 0 95%, 5% 100%, 95% 100%, 100% 95%, 100% 5%, 95% 0);
  position: relative;
  top: 22%;

  &::before { /* ears border */
    @include size;
    background-color: $border;
    border-radius: inherit;
    clip-path: polygon(5% 0, 0 5%, 0 95%, 5% 100%, 95% 100%, 100% 95%, 100% 5%, 95% 0, 95% 4%, 98% 7%, 98% 93%, 95% 96%, 5% 96%, 2% 93%, 2% 7%, 5% 4%, 95% 4%);
  }
}

.helmet {
  @include size(42%, 35%);
  background-color: $gold;
  border: .6vmin solid $border;
  border-radius: 11vmin;
  box-shadow: inset 0 .6vmin 0 .6vmin $red, inset 1vmin 2vmin 0 .6vmin $red, inset -1vmin 2vmin 0 .6vmin $red;
  overflow: hidden;
  z-index: 0;

  &-outline {
    @include size;
    background-color: $red;
    clip-path: polygon(40% 100%, 34% 84%, 21% 77%, 10% 51%, 20% 25%, 36% 16%, 40% 33%, 60% 33%, 64% 16%, 80% 25%, 90% 52%, 79% 77%, 65% 84%, 60% 100%, 100% 100%, 100% 0, 0% 0%, 0 100%);
    position: absolute;
    top: 0;
    z-index: 1;

    &::after { /** border **/
      @include size;
      background-color: $border;
      clip-path: polygon(40% 100%, 34% 84%, 21% 77%, 10% 51%, 20% 25%, 36% 16%, 40% 33%, 60% 33%, 64% 16%, 80% 25%, 90% 52%, 79% 77%, 65% 84%, 60% 100%, 62% 100%, 67% 84%, 81% 77%, 92% 52%, 82% 25%, 63% 14%, 59% 32%, 41% 32%, 37% 14%, 18% 25%, 8% 51%, 19% 77%, 32% 84%, 38% 100%);
    }

    &::before { /* curve inside outline */
      @include size(75%, 90%);
      border-top: .4vmin solid $border;
      border-radius: 100%;
      left: 12.5%;
      top: 20%;
    }
  }

  .eyebrowns-line {
    @include size(200%, 70%);
    background-color: $gold;
    border-bottom: .6vmin solid $border;
    border-radius: 100%;
    top: -20%;
    left: -50%;
    position: absolute;
    z-index: 1;
  }

  %eye {
    @include size(33%);
    background-color: $white;
    background-image: radial-gradient(ellipse farthest-corner, transparentize($arc-reactor-light, 1), transparentize($arc-reactor-light, .8) 50%, $arc-reactor-light);
    border-radius: 3vmin;
  }

  .eyes {
    @include size($h: 20%);
    top: 40%;

    &::before { /* left eye */
      @extend %eye;
      clip-path: polygon(0 0, 10% 100%, 100% 80%, 100% 0);
      left: 11%;
    }

    &::after { /* right eye */
      @extend %eye;
      clip-path: polygon(0 0, 0 80%, 90% 100%, 100% 0);
      right: 11%;
    }
  }

  .mouth {
    @include size;
    background-color: $border;
    clip-path: polygon(30% 84%,38% 76%,61% 76%,71% 87%,71% 88%,60% 77%,39% 77%,30% 86%);
    position: absolute;
    top: 0;
  }
}

%limb { /* arms & legs */
  background-color: $red;
  border: .6vmin solid $border;
  transform-origin: top center;
  z-index: -2;

  &::before { /* gold stripe */
    background-color: $gold;
    border: inherit;
  }
}

%energy-circle {
  background-color: darken($red, 4%);
  border: .4vmin solid $border;
  border-radius: 100%;

  &::before {
    background-image: radial-gradient(circle, $white, $arc-reactor-light);
    border: inherit;
    border-radius: inherit;
  }
}

%propulsion {
  background-image: linear-gradient(to bottom, $arc-reactor-light, transparentize($arc-reactor-light, .9) 50%, transparent);
  left: 10%;
  top: 100%;
}

.upper-body {
  @include size(60%, 20%);
  align-items: center;
  display: flex;
  top: -3.5%;
  z-index: -1;

  %shoulder {
    @include size($h: 40%);
    background-color: $red;
    border: .6vmin solid $border;
    border-radius: 100% 100% 2vmin 2vmin;
    transform-origin: top center;
    z-index: -1;
  }

  .left-arm {
    @include size(24%);
    align-self: flex-start;

    .shoulder {
      @extend %shoulder;
      transform: translateX(50%) rotateZ(35deg) rotateX(1deg);
    }

    .arm {
      @extend %limb;
      @include size(75%, 40%);
      transform: translate(41%, -40%) rotateZ(15deg) rotateX(1deg);

      &::before { /* gold arm stripe */
        @include size(40%);
        border-width: 0 0 0 .6vmin;
        right: 0;
      }
    }
  }

  .trunk {
    @include size(52%);
    align-items: center;
    background-color: $red;
    border-radius: 1vmin;
    clip-path: polygon(0 0, 0 100%, 15% 100%, 20% 85%, 80% 85%, 85% 100%, 100% 100%, 100% 0);
    display: flex;
    justify-content: center;

    &::before { /* border */
      @include size;
      background-color: $border;
      border-radius: inherit;
      clip-path: polygon(0 0, 50% 0, 50% 3.75%, 3.2% 3.75%, 3.2% 96.25%, 13.4% 96.25%, 18.4% 81.25%, 81.6% 81.25%, 86.6% 96.25%, 96.8% 96.25%, 96.8% 3.75%, 50% 3.75%, 50% 0, 100% 0%, 100% 100%, 85% 100%, 80% 85%, 20% 85%,15% 100%, 0 100%);
      /* manual align needed by FF stable */
      left: 0;
      top: 0;
    }

    .arc-reactor {
      @extend %energy-circle;
      @include size(8vmin, 8vmin);

      &::before { /* arc reactor inside */
        @include size(6.4vmin, 6.4vmin);
        animation: 1.6s ease-in-out infinite alternate forwards reactor-pulse;
        left: calc(50% - 3.2vmin);
        top: calc(50% - 3.2vmin);
      }
    }
  }

  .right-arm {
    @include size(24%);
    align-self: flex-start;

    .shoulder {
      @extend %shoulder;
      transform: translateX(-50%) rotateZ(-35deg);
    }

    .arm {
      @extend %limb;
      @include size(75%, 80%);
      transform: translate(-30%, -35%) rotateZ(-30deg) rotateX(1deg);

      &::before { /* gold arm stripe */
        @include size(50%, 90%);
        border-left-width: 0;
        border-radius: 0 0 10vmin 0;
        left: 0;
      }

      .propulsion {
        @extend %propulsion;
        @include size(80%, 15vmin);
      }
    }

    .hand {
      @include size($h: 3vmin);
      background-color: $red;
      border: .6vmin solid $border;
      border-radius: 2vmin 3vmin 3vmin 3vmin;
      transform: translate(38%, -240%) rotateZ(-30deg) rotateX(1deg);
      transform-origin: top center;
    }
  }
}

.left-hand {
  @include size(13.2%, 8%);
  left: 20%;
  position: absolute;
  top: 46%;
  z-index: 2;

  %finger {
    @include size(2.7vmin, 90%);
    background-color: $red;
    border: .4vmin solid $border;
    border-radius: 2.9vmin;
    overflow: hidden;
    position: absolute;
    transform-origin: bottom center;

    &::before { /* phalange line */
      @include size(180%, 50%);
      border-top: .5vmin solid $border;
      border-radius: 100%;
      bottom: 25%;
      left: -45%;
    }
  }

  @for $finger from 1 through 4 {
    .finger-#{$finger} {
      @extend %finger;
    }
  }

  .finger {
    &-1 {
      transform: translate(1vmin, -40%) rotateZ(-65deg);
    }

    &-2 {
      transform: translate(1.4vmin, -70%) rotateZ(-30deg);
    }

    &-3 {
      transform: translate(3.6vmin, -70%) rotateZ(0);
    }

    &-4 {
      transform: translate(3.5vmin, -45%) rotateZ(65deg);
      width: 2.9vmin;
    }
  }

  .palm {
    @include size;
    background-color: $red;
    border: .6vmin solid $border;
    border-radius: 100%;

    .cannon {
      @extend %energy-circle;
      @include size(4vmin, 4vmin);
      align-items: center;
      display: flex;
      justify-content: center;
      left: calc(50% - 2vmin);
      perspective: 800px;
      top: calc(50% - 2vmin);

      &::before { /* arc reactor inside */
        @include size(3vmin, 3vmin);
        left: calc(50% - 1.5vmin);
        top: calc(50% - 1.5vmin);
      }

      &::after { /* plasma blast */
        @include size(3vmin, 3vmin);
        animation: 8.6s ease-in-out infinite plasma-shot;
        background-color: $white;
        border-radius: 100%;
        box-shadow: 0 0 4vmin 2vmin $arc-reactor-light;
        filter: blur(1px);
        opacity: 0;

        /* manual align needed by FF stable */
        top: 0;
        left: 0;
      }
    }
  }
}


.pantsu {
  @include size(31.2%, 13%);
  background-color: $red;
  border: .6vmin solid $border;
  border-radius: 1vmin;
  top: -8%;
  z-index: -2;
}

%leg {
  @extend %limb;
  @include size(38%, 70%);
  position: absolute;

  &::before { /* gold stripe */
    @include size(55%, 62%);
    top: 27%;
  }
}

%foot {
  @include size(130%, 15%);
  background-color: $red;
  border: .7vmin solid $border;
  border-radius: 1vmin 1vmin 2vmin 2vmin;
  bottom: -5%;
  left: -15%;
}

.legs {
  @include size(31.2%, 30%);
  top: -14%;

  .left {
    @extend %leg;
    border-radius: 3vmin 6vmin 2vmin 2vmin;
    transform: rotateZ(5deg);

    &::before { /* gold left stripe */
      border-right-width: 0;
      border-radius: 5vmin 0 0 10vmin;
      right: 0;
    }

    &::after { /* foot */
      @extend %foot;
    }

    .propulsion {
      @extend %propulsion;
      @include size(80%, calc(100vh - 80vmin));
    }
  }

  .right {
    @extend %leg;
    border-radius: 6vmin 3vmin 2vmin 2vmin;
    right: 0;
    transform: rotateZ(-5deg);

    &::before { /* gold right stripe */
      border-left-width: 0;
      border-radius: 0 5vmin 10vmin 0;
      left: 0;
    }

    &::after { /* foot */
      @extend %foot;
    }

    .propulsion {
      @extend %propulsion;
      @include size(80%, calc(100vh - 80vmin));
    }
  }
}

/* Animation */

@keyframes reactor-pulse {
  to { box-shadow: 0 0 2vmin 1vmin $arc-reactor-light; }
}

@keyframes levitate {
  0%, 50%, 100% { transform: translateY(3%); }
  25%, 75% { transform: translateY(-3%) ;}
}

@keyframes plasma-shot {
  93.02326% {
    opacity: 1;
    transform: translateZ(0);
  }
  100% {
    opacity: 1;
    transform: translateZ(900px);
  }
}