.ironman
  .ears
  .helmet
    .eyebrowns-line
    .eyes
    .mouth
    .helmet-outline
  .upper-body
    .left-arm
      .shoulder
      .arm
    .trunk
      .arc-reactor
    .right-arm
      .shoulder
      .arm
        .propulsion
      .hand
  .left-hand
    each finger in [1, 2, 3, 4]
      div(class=`finger-${finger}`)
    .palm
      .cannon
  .pantsu
  .legs
    .left
      .propulsion
    .right
      .propulsion